@import "./normalize.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: #fff;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #666;
  text-decoration: none;
}


.clearfix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
/* 兼容低版本ie */
.clearfix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.text-center{
  text-align: center;
}
li{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}